body{
    background-image: url(images/bg-pattern-desktop.svg);
  
    font-family: 'Josefin Sans' sans-serif;
}

.LOGO{
    margin-left: 20%;
    margin-top: 10%;
}

#w{
    color: hsl(0, 36%, 70%);
}

.PARRAFO{
    margin-top: 10%;
    color: hsl(0, 36%, 70%);
    margin-left: 20%;
    margin-top: 5%;
    text-align: left;
}

.IMAGEN{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
}

.TITULO{
    margin-top: 30px;
    margin-left: 20%;
    letter-spacing: 0.7rem;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: hsl(0, 6%, 24%);
}
button{
    margin-left: -40px;
    background-color: rgb(238, 127, 127);
    transition: background-color .5s;
    padding: 1rem 2rem;
    width: 100px;
    border-radius: 50px;
    position: relative;
    border: none;

}

button:hover {
    background-color: rgb(252, 246, 249);
  }

input{
    width: 300px;
    padding: 0.7rem;
    font-size: 1.2rem;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 25px;
}

form{
    margin-top: 7%;
    margin-left: 20%;
}

p{
    margin-top: 7%;
    margin-left: 5%;
}